# -*- coding: utf-8 -*-
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<style>
  #content.main-container {
    padding: 0px !important;
  }
</style>
<main id="eol-about" aria-label="Content" tabindex="-1" class="static_pages eol-bg w-100 mx-auto mt-0 pt-0">
    <div class="container eol-content-container px-2 pt-2 mx-auto">
        <div class="row">
            <div class="col-lg-8 px-4 container text-justify">
                <h1 class="mb-4 text-center">${_("¿Qué es Alpha Project?")}</h1>
                <p>${_("¡Bienvenidos al Proyecto Alpha! Somos un equipo dedicado a brindar recursos educativos innovadores a los académicos y académicas de la Facultad de Medicina de la Universidad de Chile. Nuestro objetivo es apoyarlos en el desarrollo de sus habilidades docentes.")}</p>
                <p>${_("Este es un proyecto que nace de una iniciativa propuesta por el Centro de Enseñanza y Aprendizaje (CEA), el Departamento de Educación en Ciencias de la Salud (DECSA) y la Dirección Académica de la FMUCH.")}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 px-4 container text-justify">
                <h1 class="mb-4 text-center">${_("¿Qué ofrecemos?")}</h1>
                <p>${_("El Proyecto Alpha ofrece una serie de nanocursos diseñados específicamente para el ámbito académico de la salud. Estos nanocursos están cuidadosamente elaborados y acompañados de evaluaciones integrales. Estamos trabajando para que en el futuro formen parte de distintos Diplomados ofrecidos por el Departamento de Educación en Ciencias de la Salud de la Facultad de Medicina de la Universidad de Chile.")}</p>
            </div>
        </div>
    </div>
</main>
