# -*- coding: utf-8 -*-
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>
<style>
  #content.main-container {
    padding: 0px !important;
  }
</style>
<main id="alphaproject-faqs" aria-label="Content" tabindex="-1" class="static_pages eol-bg w-100 mx-auto mt-0 py-5" style="background-image: url(${static.url('eol-uchile-2020/images/bg-eol.png')});">
    <div class="container eol-content-container px-2 pt-2 mx-auto">
        <div class="row">
            <div class="col-lg-4 d-none d-lg-block pr-5 my-auto">
                <img src="${static.url('alpha-project-theme/images/pages/facultad-c.jpg')}" style="object-fit:cover;width:312px;height:611px" class="img-fluid" alt="image"/>
            </div>
            <div class="col-lg-8 px-4">
                <h1 class="text-left">${_("Preguntas Frecuentes")}</h1>
                <div class="accordion text-justify mt-4" id="accordionFAQS">
                    <div class="card">
                        <div class="card-header" id="faq1" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                            <p class="mb-0">
                                ${_("¿Qué es Proyecto Alpha y qué ofrece?")}
                            </p>
                        </div>
                        <div id="collapse1" class="collapse" aria-labelledby="faq1" data-parent="#accordionFAQS">
                            <div class="card-body">
                                ${_("Proyecto Alpha es una iniciativa de la Facultad de Medicina de la Universidad de Chile que proporciona recursos educativos para el desarrollo académico de la docencia en el ámbito de las profesiones de la salud. Ofrece una variedad de nanocursos diseñados para fortalecer las habilidades docentes de los educadores en salud.")}
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="faq2" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                            <p class="mb-0">
                                ${_("Quiénes pueden acceder a los nanocursos del Proyecto Alpha?")}
                            </p>
                        </div>
                        <div id="collapse2" class="collapse" aria-labelledby="faq2" data-parent="#accordionFAQS">
                            <div class="card-body">
                                ${_("Los nanocursos de Proyecto Alpha están disponibles para académicos y académicas de la Facultad de Medicina de la Universidad de Chile que deseen mejorar su dimensión docente en el campo de las ciencias de la salud.")}
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="faq3" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                            <p class="mb-0">
                                ${_("¿Cómo puedo inscribirme en los nanocursos del Proyecto Alpha?")}
                            </p>
                        </div>
                        <div id="collapse3" class="collapse" aria-labelledby="faq3" data-parent="#accordionFAQS">
                            <div class="card-body">
                                ${_("Para inscribirte en los nanocursos de disponibles, puedes acceder con la cuenta pasaporte de la Universidad (cuenta uchile) a la plataforma en línea del proyecto y seguir los pasos de inscripción indicados.")}
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="faq4" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                            <p class="mb-0">
                                ${_("¿Los nanocursos del Proyecto Alpha tienen algún costo?")}
                            </p>
                        </div>
                        <div id="collapse4" class="collapse" aria-labelledby="faq4" data-parent="#accordionFAQS">
                            <div class="card-body">
                                ${_("No, los nanocursos de la plataforma son gratuitos para los académicos y académicas de la Facultad de Medicina de la Universidad de Chile.")}
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="faq5" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
                            <p class="mb-0">
                                ${_("¿Qué temas abordan los nanocursos del Proyecto Alpha?")}
                            </p>
                        </div>
                        <div id="collapse5" class="collapse" aria-labelledby="faq5" data-parent="#accordionFAQS">
                            <div class="card-body">
                                ${_("Los nanocursos abarcan una variedad de temas relacionados con el desarrollo académico de la docencia en el campo de las profesiones de la salud, incluyendo estrategias de enseñanza, evaluación del aprendizaje y práctica clínica.")}
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="faq6" data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapse6">
                            <p class="mb-0">
                                ${_("¿Cómo se evalúan los conocimientos adquiridos en los nanocursos del Proyecto Alpha?")}
                            </p>
                        </div>
                        <div id="collapse6" class="collapse" aria-labelledby="faq6" data-parent="#accordionFAQS">
                            <div class="card-body">
                                ${_("Los conocimientos adquiridos en los nanocursos se evalúan a través de diferentes actividades, como cuestionarios, trabajos prácticos o proyectos finales, dependiendo del diseño de cada nanocurso.")}
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="faq7" data-toggle="collapse" data-target="#collapse7" aria-expanded="true" aria-controls="collapse7">
                            <p class="mb-0">
                                ${_("¿Los nanocursos del Proyecto Alpha otorgan certificados?")}
                            </p>
                        </div>
                        <div id="collapse7" class="collapse" aria-labelledby="faq7" data-parent="#accordionFAQS">
                            <div class="card-body">
                                ${_("Sí, los nanocursos otorgan certificados de aprobación a los estudiantes que completen satisfactoriamente todos los requisitos del nanocurso.")}
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="faq8" data-toggle="collapse" data-target="#collapse8" aria-expanded="true" aria-controls="collapse8">
                            <p class="mb-0">
                                ${_("¿Los nanocursos del Proyecto Alpha son autoadministrados o tienen fechas de inicio y fin?")}
                            </p>
                        </div>
                        <div id="collapse8" class="collapse" aria-labelledby="faq8" data-parent="#accordionFAQS">
                            <div class="card-body">
                                ${_("Los nanocursos de Alpha pueden tener diferentes modalidades, algunos son autoadministrados y otros tienen fechas de inicio y fin específicas, dependiendo de la estructura de cada nanocurso.")}
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="faq9" data-toggle="collapse" data-target="#collapse9" aria-expanded="true" aria-controls="collapse9">
                            <p class="mb-0">
                                ${_("¿Puedo acceder a los nanocursos del Proyecto Alpha desde cualquier dispositivo?")}
                            </p>
                        </div>
                        <div id="collapse9" class="collapse" aria-labelledby="faq9" data-parent="#accordionFAQS">
                            <div class="card-body">
                                ${_("Sí, los nanocursos son accesibles desde cualquier dispositivo con conexión a internet, como computadoras, tablets o teléfonos móviles.")}
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="faq10" data-toggle="collapse" data-target="#collapse10" aria-expanded="true" aria-controls="collapse10">
                            <p class="mb-0">
                                ${_("¿Cómo puedo contactar al equipo de Proyecto Alpha si tengo más preguntas?")}
                            </p>
                        </div>
                        <div id="collapse10" class="collapse" aria-labelledby="faq10" data-parent="#accordionFAQS">
                            <div class="card-body">
                                ${_("Puedes contactar al equipo de Proyecto Alpha a través de su página web oficial, donde encontrarás información de contacto, como su correo electrónico: alpha.med@uchile.cl")}
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="faq11" data-toggle="collapse" data-target="#collapse11" aria-expanded="true" aria-controls="collapse11">
                            <p class="mb-0">
                                ${_("¿Cómo dictar un nanocurso en Alpha?")}
                            </p>
                        </div>
                        <div id="collapse11" class="collapse" aria-labelledby="faq11" data-parent="#accordionFAQS">
                            <div class="card-body">
                                ${_("Para dictar un nanocurso en Alpha, sigue estos pasos: ")}
                                <ul>
                                    <li>${_("Contacto inicial: Envía un correo a ")}<a href="mailto:alphamed@uchile.cl" target="_top">alphamed@uchile.cl</a>${_(" con información sobre el curso que deseas ofrecer.")}
                                    <li>${_("Completar la planilla del programa: Recibe y completa la planilla con los detalles del curso (objetivos, contenido, métodos de enseñanza).")}
                                    <li>${_("Revisión y retroalimentación: Envía la planilla completada y recibe retroalimentación del equipo Alpha para alinear el curso con los objetivos del proyecto.")}
                                    <li>${_("Confirmación y planificación: Recibe confirmación, coordina fechas y aspectos logísticos del curso.")}
                                    <li>${_("Producción del curso: Desarrolla y lleva a cabo el curso siguiendo el plan, con apoyo y asistencia del equipo Alpha.")}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
