<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>
<%! from django.utils.translation import ugettext as _ %>
<style>
  .podcast-card {
    /* font-family: Arial, sans-serif; */
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /* Ensures the footer sticks to the bottom */
  }

  .podcast-footer {
    background-color: var(--primary-color);
    /* Bootstrap primary color */
    /* height: 10px; Adjust the height as needed */
    color: white;

  }

  .courses-container .courses .course .course-image .cover-image {
    height: unset;
    overflow: hidden;
  }

  .highlighted-courses .courses .course:hover,
  .highlighted-courses .courses .course:focus,
  .find-courses .courses .course:hover,
  .find-courses .courses .course:focus {
    /* background: #f5f5f5;
    border-color: #bebebe;
    box-shadow: 0 1px 4px 0 rgba(0,117,180,0.4); */
    background: none;
    border-color: unset;
    box-shadow: none;
  }

  .courses-container .courses .course:hover .cover-image::before,
  .courses-container .courses .course:focus .cover-image::before {
    transition: unset;
    opacity: 0;
  }

  .courses-container .courses .course .course-image .cover-image::before {
    left: 0;
    position: absolute;
    top: 0;
    opacity: 0;
    background: #bebebe;
    width: 100%;
    height: 160px;
    content: '';
  }


  /* Additional custom styles if needed */
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<section class="courses-container container-fluid w-100 px-5">
  <section class="highlighted-courses">
    % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
    <section class="courses">
      <ul class="courses-listing">
            ## limiting the course number by using HOMEPAGE_COURSE_MAX as the maximum number of courses
            %for course in courses[:homepage_course_max]:
                <li class="courses-listing-item">
                    <%include file="course.html" args="course=course" />
                </li>
            %endfor
        </ul>
    </section>
      ## in case there are courses that are not shown on the homepage, a 'View all Courses' link should appear
      % if homepage_course_max and len(courses) > homepage_course_max:
        <div class="courses-more">
          <a class="courses-more-cta" href="${marketing_link('COURSES')}"> ${_("View all Courses")} </a>
        </div>
      % endif
    % endif
  </section>
</section>